<div class="m-2">
  <div class="card">
    <div class="card-header text-primary">
      <h2>Door Designer</h2>
    </div>
    <div class="card-body">
      <div class="d-flex" style="gap: 30px;">
        <div>
          <label for="dropdown" class="form-label">Door Company </label>
          <select id="dropdown" class="form-select" aria-label="Default select example" [(ngModel)]="doorCompany">
            <option *ngFor="let item of doorCompanyList" [ngValue]="item.doorCompanyId"
              [disable]="item.doorCompanyName == 'Safeway'">
              {{ item.doorCompanyName }}
            </option>
          </select>
        </div>
        <div>
          <label for="dropdown" class="form-label">Types of doors </label>
          <select id="dropdown" class="form-select" aria-label="Default select example" [(ngModel)]="doorType">
            <option *ngFor="let item of typeOfDoorsList" [value]="item.doorTypeId">
              {{ item.doorTypeName }}
            </option>
          </select>
        </div>
        <div>
          <label for="exampleFormControlInput1" class="form-label">Quantity </label>
          <div class="d-flex" style="gap: 3px;">
            <button class="btn btn-sm btn-secondary" type="button"
              (click)="doorQuantity = doorQuantity - 1 < 0 ? 0 : doorQuantity - 1"> -
            </button>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Quantity"
              [(ngModel)]="doorQuantity">
            <button class="btn btn-sm btn-secondary" type="button" (click)="doorQuantity = doorQuantity + 1"> +
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-header">
      Door Size
    </div>
    <div class="card-body">
      <p>Select a Standard garage door size <b>Or</b> enter your exact garage door size</p>
      <div class="d-flex" style="gap: 3px;" *ngIf="doorType == 1">
        <ng-container *ngFor="let size of DoorSizeList.Residential.width_arr; let index = index">
          <button class="btn btn-secondary" (click)="changeDoorSize(size, DoorSizeList.Residential.height_arr[index])">
            {{size}}' x {{DoorSizeList.Residential.height_arr[index]}}' </button>
        </ng-container>
      </div>
      <div class="d-flex" style="gap: 3px;" *ngIf="doorType == 2">
        <ng-container *ngFor="let size of DoorSizeList.Commercial.width_arr; let index = index">
          <button class="btn btn-secondary"
            (click)="changeDoorSize(size, DoorSizeList.Residential.height_arr[index], DoorSizeList.Commercial.width_arr_inch[index])">
            {{size}}'{{DoorSizeList.Commercial.width_arr_inch[index]}}" x
            {{DoorSizeList.Commercial.height_arr[index]}}'</button>
        </ng-container>
      </div>
      <p class="mt-2">Select Door Width</p>
      <div class="d-flex" style="gap: 10px;">
        <div class="d-flex" style="gap: 3px;">
          <button class="btn btn-sm btn-secondary" type="button"
            (click)="doorWidthFt = doorWidthFt - 1 < 0 ? 0 : doorWidthFt - 1"> - </button>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Quantity"
            [(ngModel)]="doorWidthFt">
          <button class="btn btn-sm btn-secondary" type="button" (click)="doorWidthFt = doorWidthFt + 1"> + </button>
          <button class="btn btn-sm btn-primary" type="button"> ft </button>
        </div>
        <div class="d-flex" style="gap: 3px;">
          <button class="btn btn-sm btn-secondary" type="button"
            (click)="doorWidthInch = doorWidthInch - 1 < 0 ? 0 : doorWidthInch - 1"> - </button>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Quantity"
            [(ngModel)]="doorWidthInch">
          <button class="btn btn-sm btn-secondary" type="button" (click)="doorWidthInch = doorWidthInch + 1"> +
          </button>
          <button class="btn btn-sm btn-primary" type="button"> in </button>
        </div>
      </div>
      <p class="mt-2">Select Door Height</p>
      <div class="d-flex" style="gap: 10px;">
        <div class="d-flex" style="gap: 3px;">
          <button class="btn btn-sm btn-secondary" type="button"
            (click)="doorHeightFt = doorHeightFt - 1 < 0 ? 0 : doorHeightFt - 1"> - </button>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Quantity"
            [(ngModel)]="doorHeightFt">
          <button class="btn btn-sm btn-secondary" type="button" (click)="doorHeightFt = doorHeightFt + 1"> + </button>
          <button class="btn btn-sm btn-primary" type="button"> ft </button>
        </div>
        <div class="d-flex" style="gap: 3px;">
          <button class="btn btn-sm btn-secondary" type="button"
            (click)="doorHeightInch = doorHeightInch - 1 < 0 ? 0 : doorHeightInch - 1"> - </button>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Quantity"
            [(ngModel)]="doorHeightInch">
          <button class="btn btn-sm btn-secondary" type="button" (click)="doorHeightInch = doorHeightInch + 1"> +
          </button>
          <button class="btn btn-sm btn-primary" type="button"> in </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-header">
      Collection & Family
    </div>
    <div class="card-body">
      <div class="d-flex" style="gap: 10px;">
        <ng-container *ngFor="let item of doorCollectionList">
          <button class="btn btn btn-outline-primary" [ngClass]="{'active': doorCollection == item.doorCollectionId}" type="button" (click)="doorCollection = item.doorCollectionId"> {{ item.doorCollectionName }} </button>
        </ng-container>
      </div>
      <div class="d-flex mt-2" style="gap: 10px;">
        <ng-container *ngFor="let item of doorSubCollectionList">
          <div style="background-color: rgb(192, 190, 190);" [ngClass]="{'active': doorSubCollection == item.doorSubCollectionId}" (click)="selectSubCollection(item)">
            <div style="margin: auto;">
              <img [src]="item?.filePath" [alt]="item?.fileName" height="100px" width="100px">
            </div>
            <p>{{item?.doorSubCollectionName}}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-header">
      Panel Style And Model Number
    </div>
    <div class="card-body">
      <div class="d-flex" style="gap: 10px;">
        <ng-container *ngFor="let item of doorPanelList">
          <div style="background-color: rgb(192, 190, 190); text-align: center;" [ngClass]="{'active': doorPanel == item.doorPanelId}" (click)="selectPanel(item)">
            <div style="margin: auto;">
              <img [src]="item?.filePath" [alt]="item?.fileName" height="60px" width="100px">
            </div>
            <p>{{item?.doorPanelName}}</p>
          </div>
        </ng-container>
      </div>
      <p class="mb-2 mt-2">Model number</p>
      <div class="d-flex mt-2" style="gap: 10px;">
        <ng-container *ngFor="let item of doorModelList">
          <div class="p-4" style="background-color: rgb(192, 190, 190); border-radius: 10px;" [ngClass]="{'active': doorModel == item.doorModelId}" (click)="selectModel(item)">
            <p>{{item?.doorModelName}}</p>
            <p>{{item?.quality}}</p>
            <p>{{item?.range}}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-header">
      Color
    </div>
    <div class="card-body">
      <!-- <div class="d-flex" style="gap: 10px;">
        <ng-container *ngFor="let item of doorPanelList">
          <div style="background-color: rgb(192, 190, 190); text-align: center;" [ngClass]="{'active': doorPanel == item.doorPanelId}" (click)="selectPanel(item)">
            <div style="margin: auto;">
              <img [src]="item?.filePath" [alt]="item?.fileName" height="60px" width="100px">
            </div>
            <p>{{item?.doorPanelName}}</p>
          </div>
        </ng-container>
      </div> -->
      <!-- <p class="mb-2 mt-2">Model number</p> -->
      <div class="row mt-2">
        <ng-container *ngFor="let item of doorColorList">
          <div class="col-1 m-1" style="border-radius: 10px; text-align: center;">
            <div style="border-radius: 50%; height: 100px; width: 100px;" [ngStyle]="{'background-color': item?.colorCode }" [ngClass]="{'active': doorColor == item.doorColorId}" (click)="selectModel(item)">
              <img [src]="item?.fileBackPath" alt="" style="border-radius: 50%; height: 100px; width: 100px;">
            </div>
            <p>{{item?.doorColorAliasName}}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
