/* Ps */
.door-designer-tool .leftbar{
  border: 1px solid #ddd;
  position: sticky;
  top: 0px;
}

.door-designer-tool .section-title h2{
  padding: 12px 20px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  background-color: #5d5d5d;
  color: #fff;
}

.door-designer-tool .summary{
   padding: 20px;
}

.door-designer-tool .summary .visual-canvas-placeholder{
  background-color: #fcfcfc;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 20px;
}

.door-designer-tool .summary .visual-canvas-placeholder .inner{
  min-height: 200px;
}

.door-designer-tool .summary .visual-canvas-placeholder .icon{
  background-color: var(--tc-secondary);
  border-radius: 100px;
  width: 90px;
  height: 90px;
  outline: 1px dashed var(--tc-secondary);
  outline-offset: 3px;
}

.door-designer-tool .summary .visual-canvas-placeholder .icon svg{
   height: 42px;
   fill: #fff;
}

.door-designer-tool .summary .visual-canvas{
  border: 1px solid #eee;
  border-radius: 3px 3px 0px 0px;
  overflow: hidden;
}

.door-designer-tool .summary .visual-canvas .visualization-main {
    /* height: var(--visualization-height); */
}

.door-designer-tool .summary .visual-canvas .visualization-main .grid-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay, f2);
  mix-blend-mode: multiply;
  z-index: 1;
}

.door-designer-tool .summary .visual-canvas .visualization-main .cover-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px 10px;
}

.door-designer-tool .summary .visual-canvas .visualization-main .main-grid{
    display: grid;
    grid-template-rows: repeat(var(--bs-rows, 1), 1fr);
    grid-template-columns: repeat(var(--hr-column, 12), 1fr);
    gap: 0;
}

.door-designer-tool .summary .visual-canvas .visualization-main .column-grid{
  display: grid;
  grid-template-rows: repeat(var(--vr-column), 1fr);
  /* height: var(--visualization-height); */
}

.door-designer-tool .summary .visual-canvas .visualization-main .design-box {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

.door-designer-tool .summary .visual-canvas .visualization-main .design-box:after{
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0;
  width: calc(100% + 20px);
  height: 0.5px;
  background-color: var(--partition-line-color);
}

.door-designer-tool .summary .visual-canvas .visualization-main .design-box:last-child::after{
  display: none;
}

.door-designer-tool .summary .visual-canvas .visualization-main .design-box .frame-image {
  width: 100%;
}

.door-designer-tool .summary .visual-canvas .visualization-main .design-box .glass-image{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(85%);
  height: calc(80%);
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.door-designer-tool .summary .visual-canvas .visualization-main .design-box .window-image{
  width: 100%;
  height: 100%;
}










.door-designer-tool .summary .short-info{
  padding: 10px 15px;
  border: 1px solid #eee;
  border-top: none;
  margin-bottom: 16px;
  font-size: 14px;
  border-radius: 0px 0px 3px 3px;
}

.door-designer-tool .summary .short-info .icon{
  margin-right: 8px;
}

.door-designer-tool .summary .short-info .icon svg{
  width: 15px;
  fill: var(--tc-secondary);
}

.door-designer-tool .summary .estimate-quote{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 15px 20px;
  margin: 0 -20px;
}

.door-designer-tool .summary .estimate-quote .title{
  font-weight: 700;
  font-size: 18px;
}

.door-designer-tool .summary .estimate-quote .title .icon{
  margin-right: 8px;
  height: 35px;
  width: 35px;
  border-radius: 100px;
  background-color: #fcfcfc;
  border: 1px solid #eee;
  color: #fff;
}

.door-designer-tool .summary .estimate-quote .title .icon svg{
  height: 18px;
}

.door-designer-tool .summary .estimate-quote .price{
  font-size: 25px;
  font-weight: 700;
}

.door-designer-tool .summary .main-info ul.info-list li{
  border-bottom: 1px solid #eee;
  padding: 6px 0px;
}

.door-designer-tool .summary .main-info ul.info-list li:last-child{
  padding-bottom: 0;
  border-bottom: none;
}

.door-designer-tool .summary .main-info ul.info-list li .info .space{
  height: 10px;
}

.door-designer-tool .summary .main-info ul.info-list li .info .title{
  font-weight: 600;
  margin-bottom: 5px;
}

.door-designer-tool .summary .main-info ul.info-list li .info .value{
  font-size: 14px;
  color: #252525;
}

.door-designer-tool .right-part{
  border: 1px solid #ddd;
}

.door-designer-tool .designer{
  padding: 20px;
}

.door-designer-tool .designer .info-text{
  font-size: 14px;
  margin-top: 5px;
}

.door-designer-tool .designer .selection-button-list{
   display: flex;
   flex-flow: wrap;
   align-items: center;
   gap: 10px;
}

.door-designer-tool .designer .item-box{
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
  height: 100%;
  cursor: pointer;
  position: relative;

}

.door-designer-tool .designer .item-box .box-title{
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.door-designer-tool .designer .item-box .box-title .price{
  margin-top: 5px;
  color: #252525;
  font-size: 13px;
  text-align: center;
}

.door-designer-tool .designer .item-box .box-title .price span{
  display: inline-block;
  margin: 0px 1px;
}

.door-designer-tool .designer .item-box .box-title .price .currency{
   font-weight: 600;
}

.door-designer-tool .designer .item-box .box-select.border-top-tc,
.door-designer-tool .designer .item-box .box-title.border-top-tc{
    border-top: 1px solid #ddd;
    margin: 0 -5px;
}

.door-designer-tool .designer .item-box .box-select{
  padding: 0 5px;
}

.door-designer-tool .designer .item-box .box-select>div{
  margin-top: 8px;
}

.door-designer-tool .designer .item-box .box-select .price{
  color: #252525;
  font-size: 13px;
  height: 35px;
  background-color: var(--bs-light);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;

}

.door-designer-tool .designer .item-box.active .box-select .price{
  background-color: #fff;
}


.door-designer-tool .designer .model-box{
  border: 1px solid #ddd;
  outline: 1px solid transparent;
  outline-offset: 2px;
  background-color: var(--bs-light);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 20px 20px;
  height: 130px;
  width: 130px;
  font-size: 14px;
}

.door-designer-tool .designer .model-box.active{
  background-color: #5d5d5d;
  border-color: #ddd;
  outline-color: #ddd;
  color: #fff;
}

.door-designer-tool .designer .model-box .box-label{
  background-color: #5d5d5d;
  color: #fff;
  padding: 3px 12px;
  font-size: 12px;
  border-radius: 100px;
  margin-top: 8px;
}

.door-designer-tool .designer .model-box.active .box-label{
  background-color: #fff;
  color: #000;
}

.door-designer-tool .designer .model-box .star-rating{
   position: absolute;
   top: 0;
   left: 0;
}

.door-designer-tool .designer .model-box .star-rating svg{
  height: 130px;
  width: 130px;
  transform: rotate(180deg);
}

.door-designer-tool .designer .model-box .star-rating svg textPath{
  letter-spacing: 3px;
}

.door-designer-tool .designer .model-box .star-rating svg textPath tspan,
.door-designer-tool .designer .model-box .star-rating[data-rating="0"] svg textPath tspan{
  fill: #8b8b8b;
}

.door-designer-tool .designer .model-box .star-rating[data-rating="1"] svg textPath tspan:nth-child(5){
  fill: var(--bs-yellow);
}

.door-designer-tool .designer .model-box .star-rating[data-rating="2"] svg textPath tspan:nth-child(5),
.door-designer-tool .designer .model-box .star-rating[data-rating="2"] svg textPath tspan:nth-child(4){
  fill: var(--bs-yellow);
}

.door-designer-tool .designer .model-box .star-rating[data-rating="3"] svg textPath tspan:nth-child(5),
.door-designer-tool .designer .model-box .star-rating[data-rating="3"] svg textPath tspan:nth-child(4),
.door-designer-tool .designer .model-box .star-rating[data-rating="3"] svg textPath tspan:nth-child(3){
  fill: var(--bs-yellow);
}

.door-designer-tool .designer .model-box .star-rating[data-rating="4"] svg textPath tspan:nth-child(5),
.door-designer-tool .designer .model-box .star-rating[data-rating="4"] svg textPath tspan:nth-child(4),
.door-designer-tool .designer .model-box .star-rating[data-rating="4"] svg textPath tspan:nth-child(3),
.door-designer-tool .designer .model-box .star-rating[data-rating="4"] svg textPath tspan:nth-child(2){
  fill: var(--bs-yellow);
}

.door-designer-tool .designer .model-box .star-rating[data-rating="5"] svg textPath tspan{
  fill: var(--bs-yellow);
}

.door-designer-tool .designer .color-box{
  cursor: pointer;
  position: relative;
  width: 90px;
}

.door-designer-tool .designer .color-box .image-wrap{
  height: 80px;
  width: 80px;
  margin: auto;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
  outline: 1px solid transparent;
  outline-offset: 2px;
}

.door-designer-tool .designer .color-box.active .image-wrap{
  outline-color: #ddd;
}

.door-designer-tool .designer .color-box.active .image-wrap:after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  transform: translate(-50%, -50%);
  background-color: var(--tc-secondary);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 448 512"><path d="M443.3 100.7C449.6 106.9 449.6 117.1 443.3 123.3L171.3 395.3C165.1 401.6 154.9 401.6 148.7 395.3L4.686 251.3C-1.562 245.1-1.562 234.9 4.686 228.7C10.93 222.4 21.06 222.4 27.31 228.7L160 361.4L420.7 100.7C426.9 94.44 437.1 94.44 443.3 100.7H443.3z"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}

.door-designer-tool .designer .color-box .box-title{
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.door-designer-tool .designer .color-box .box-title .price{
  margin-top: 5px;
  color: #252525;
  font-size: 13px;
  text-align: center;
}

.door-designer-tool .designer .color-box .box-title .price span{
  display: inline-block;
  margin: 0 1px;
}

.door-designer-tool .designer .color-box .box-title .price span.currency{
  font-weight: 600;
}

.door-designer-tool .designer .box-active.active{
  border-color: #ddd;
  background-color: var(--gray-200);
}

.door-designer-tool .designer .box-active.active:after{
 content: "";
 position: absolute;
 top: 5px;
 right: 5px;
 width: 20px;
 height: 20px;
 border-radius: 100px;
 background-color: var(--tc-secondary);
 background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 448 512"><path d="M443.3 100.7C449.6 106.9 449.6 117.1 443.3 123.3L171.3 395.3C165.1 401.6 154.9 401.6 148.7 395.3L4.686 251.3C-1.562 245.1-1.562 234.9 4.686 228.7C10.93 222.4 21.06 222.4 27.31 228.7L160 361.4L420.7 100.7C426.9 94.44 437.1 94.44 443.3 100.7H443.3z"/></svg>');
 background-position: center;
 background-repeat: no-repeat;
 background-size: 10px;
}

.door-designer-tool .designer .windows-edit{
  border: 1px solid #ddd;
  background-color: var(--bs-light);
  border-radius: 3px 3px 0px 0px;
  padding: 15px;
}

.door-designer-tool .designer .windows-edit .selectall-list{
  display: grid;
  grid-template-rows: repeat(var(--ds-vr-column), 1fr);
}

.door-designer-tool .designer .windows-edit .selectall-list .list{
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--ds-grid-height);
}

.door-designer-tool .designer .windows-edit .selectall-list .list .button{
  font-size: 14px;
}

.door-designer-tool .designer .windows-edit .value-list{
  display: grid;
  grid-template-rows: repeat(var(--ds-vr-column), 1fr);
}

.door-designer-tool .designer .windows-edit .value-list .list{
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--ds-grid-height);
}

.door-designer-tool .designer .windows-edit .value-list .list .value-box{
   width: 60px;
   height: 43px;
   display: flex;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 3px;
   justify-content: center;
   align-items: center;
   font-size: 14px;
}


.door-designer-tool .designer .windows-edit .design-grid{
  display: grid;
  grid-template-rows: repeat(var(--bs-rows, 1), 1fr);
  grid-template-columns: repeat(var(--ds-hr-column, 12), 1fr);
  gap: 0;
}


.door-designer-tool .designer .windows-edit .column-grid{
  display: grid;
  grid-template-rows: repeat(var(--ds-vr-column), 1fr);
}

.door-designer-tool .designer .windows-edit .column-grid:not(:last-child){
  margin-right: -2px;
}

.door-designer-tool .designer .windows-edit .design-grid .grid-box{
    border: 2px solid #ddd;
    width: 100%;
    height: var(--ds-grid-height);
    cursor: pointer;
    background-color: #fff;
    position: relative;
}

.door-designer-tool .designer .windows-edit .design-grid .grid-box .checkbox input{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.door-designer-tool .designer .windows-edit .design-grid .grid-box .checkbox label{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   cursor: pointer;
}

.door-designer-tool .designer .windows-edit .design-grid .grid-box .edit-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 22px;
    width: 22px;
    border-radius: 100px;
    background-color: var(--tc-secondary);
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: none;
}

.door-designer-tool .designer .windows-edit .design-grid .grid-box.active .edit-icon{
    display: flex;
}

.door-designer-tool .designer .windows-edit .design-grid .grid-box .edit-icon:hover{
    background-color: #5d5d5d;
}

.door-designer-tool .designer .windows-edit .design-grid .grid-box .edit-icon svg{
    width: 12px;
    fill: #fff;
}

.door-designer-tool .designer .windows-edit .design-grid .grid-box.active{
  outline: 2px solid var(--tc-secondary);
  outline-offset: -5px;
}

.door-designer-tool .designer .windows-edit .design-grid .grid-box:hover{
   background-color: var(--bs-light);
}

.door-designer-tool .designer .windows-edit .design-grid .grid-box:not(:last-child){
  border-bottom: none;
}

.door-designer-tool .designer .selected-quantity{
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-top: none;
  font-size: 16px;
  border-radius: 0px 0px 3px 3px;
}

.door-designer-tool .designer .selected-quantity span{
  display: block;
  margin: 0px 2px;
}

.door-designer-tool .designer .selected-quantity span.value{
  font-weight: 600;
}

.door-designer-tool .designer .additional-discount .col-form-label{
  font-size: 14px;
}

.door-designer-tool .designer .additional-discount .input-group .form-control-custom{
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.door-designer-tool .designer .additional-discount .input-group .form-control-custom[type=number]::-webkit-inner-spin-button,
.door-designer-tool .designer .additional-discount .input-group .form-control-custom[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.door-designer-tool .designer .additional-discount .input-group .input-group-text{
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 0.75rem;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: var(--bs-light);
} 

.door-designer-tool .designer .modal-info-wrap .box{
  background-color: var(--bs-light);
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: hidden;
}

.door-designer-tool .designer .modal-info-wrap .box .content{
  font-size: 14px;
  padding: 15px;
  text-align: center;
  border-top: 1px solid #ddd;
}

/* .door-designer-tool .designer .windows-edit .editable-box {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
} */

/* Mitesh Code */

.grid-controls {
  margin-bottom: 15px;
  text-align: center;
}

/* .grid {
  display: grid;
  gap: 1px;
  align-items: center;
  justify-content: center;
} */





.checkmark {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

/* Ensure both left and right grids have equal width */
.left-grid{
  display: grid;
  grid-template-columns: repeat(var(--columns), 100px);
}



/* Mitesh Darji */


/* for checkbox all logic */
.check-all-btn {
  position: absolute;
  top: 50px;
  /* left: 50%; */
  transform: translateX(-50%);
  background: none;
  /* border: none; */
  font-size: 18px;
  cursor: pointer;
  color: black;             /* Black text */
  margin-left: -100px;
  background-color: green;  /* Green background */
  border: 1px solid lightgray; /* Light border */
  padding: 5px 10px;        /* Some padding */
  cursor: pointer;          /* Pointer on hover */
  border-radius: 4px;       /* Slightly rounded corners */
  .check-all-btn:hover {
    background-color: lightgreen; /* Darker green on hover */
  }
}

.background-div {
  width: 50%;
  height: 50%;
  background-size: cover;
  background-position: center;
}
