<div class="door-quote" style="height: 100vh; overflow: auto;">
  <div class="container">
    <div class="main">
      <div class="header">
        <div class="row align-items-center">
          <div class="col-4">
            <div class="logo">
              <img src="https://doorportal-001-site1.etempurl.com/Resources/Documents/CompanyLogo/1/Door_Company.jpg"
                alt="">
            </div>
          </div>
          <div class="col-8">
            <div class="company-info d-flex justify-content-end">
              <ul class="list-unstyled mb-0">
                <li><span>Address:</span>
                  {{ quotationData?.companyMasterModel?.companyName }},
                  {{ quotationData?.companyMasterModel?.companyAddressLine1 + ', ' +
                  quotationData?.companyMasterModel?.companyAddressLine2}},
                  {{quotationData?.companyMasterModel?.companyCity + ', ' +
                  quotationData?.companyMasterModel?.companyState + ', ' +
                  quotationData?.companyMasterModel?.companyState}},
                </li>
                <li><span>Tel:</span> {{ quotationData?.companyMasterModel?.companyPhoneNo }}</li>
                <li><span>Email:</span> {{ quotationData?.companyMasterModel?.companyEmail }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="quote-title">
        <span class="h4">DOOR MASTER QUOTE</span>
      </div>
      <div class="customer-info">
        <div class="row">
          <div class="col-7">
            <div class="info">
              <ul class="list-unstyled mb-0">
                <li><span>Customer Name</span> {{ quotationData?.customerMasterModel?.customerFirstName + ' ' +
                  quotationData?.customerMasterModel?.customerLastName}}</li>
                <li><span>Address</span>
                  {{ quotationData?.customerMasterModel?.customerCompanyName + ', ' +
                  quotationData?.customerMasterModel?.customerAddressLine1 + ', ' +
                  quotationData?.customerMasterModel?.customerAddressLine2 + ', ' +
                  quotationData?.customerMasterModel?.customerCity + ', ' +
                  quotationData?.customerMasterModel?.customerState + ', ' +
                  quotationData?.customerMasterModel?.customerZip}},
                </li>
                <li><span>Phone</span> {{quotationData?.customerMasterModel?.customerPhoneNo}}</li>
              </ul>
            </div>
          </div>
          <div class="col-5">
            <div class="info d-flex justify-content-end">
              <ul class="list-unstyled mb-0">
                <li><span>Quote No</span> {{quotationData?.quotationNo}} </li>
                <li><span>Date of Issue</span> 02-20-2025</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="main-table">
        <table class="table table-bordered align-top mb-0">
          <thead class="table-light align-top">
            <tr>
              <th width="10%">TYPE</th>
              <th>PRODUCT</th>
              <th>DESCRIPTION</th>
              <th class="text-center">QUANTITY</th>
              <th class="text-end" width="13%">UNIT PRICE</th>
              <th class="text-end" width="13%">SUB TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="doorQuoteListingData.length > 0">
              <th colspan="6">Door Description</th>
            </tr>
            <ng-container *ngFor="let item of doorQuoteListingData">
              <tr>
                <td>
                  <span *ngIf="item?.quotationFor == 'SECTION_DOOR'">Door</span>
                  <span *ngIf="item?.quotationFor == 'SECTION_ONLY'">Section</span>
                  <span *ngIf="item?.quotationFor == 'MISCELLANEOUSPARTS'">Part</span>
                <td>{{item?.product}}</td>
                <td>
                  <span *ngIf="item?.product == 'Seal'">
                    {{ generateSealData(item?.first_row, item?.qty)?.generatedString }}
                  </span>
                  <span *ngIf="item?.product !== 'Seal'">
                    {{item?.first_row}}
                  </span>
                </td>
                <td class="text-center">
                  {{ item?.qty }} &nbsp;&nbsp;&nbsp;&nbsp; {{item?.unit || ''}}
                </td>
                <td class="text-end">$ {{ item?.price?.toFixed(2) }}</td>
                <td class="text-end">$ {{ item?.total }}</td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="3" rowspan="3"></th>
              <th colspan="2">Total</th>
              <th class="text-end">$2225.36</th>
            </tr>
            <tr>
              <th colspan="2">Tax (9.25%)</th>
              <th class="text-end">$205.85</th>
            </tr>
            <tr class="grand-total">
              <th colspan="2">Grand Total</th>
              <th class="text-end">$2431.21</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="finel-design">
        <div class="title">
          <p>Door Visualization</p>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="image">
              <img src="https://d21xn5q7qjmco5.cloudfront.net/images/door-knocker-500x372-1625818559.jpg"
                class="img-thumbnail" alt="">
            </div>
          </div>
          <div class="col-6">
            <div class="image text-end">
              <img src="https://d21xn5q7qjmco5.cloudfront.net/images/door-knocker-500x372-1625818559.jpg"
                class="img-thumbnail" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="quote-description bg-light text-center">
        <p>All special orders requires 50% deposit. This quote expires at the earlier of 30 days from issuance or the
          effective date of any changes communicated by manufacturer. All quotes are subject to manufacturer's terms and
          conditions.</p>
        <p>Quotation was created on a computer and valid with the digital signature.</p>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-success btn-sm mx-1">Download PDF</button>
          <button type="button" class="btn btn-info btn-sm mx-1">Print</button>
        </div>
      </div>
    </div>
  </div>
</div>
